body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:359px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u312_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u312 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u312_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u313_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u313 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:36px;
  width:73px;
  height:24px;
  font-size:18px;
  color:#FFFFFF;
}
#u313_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u314_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.576470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u314 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:74px;
  width:120px;
  height:47px;
}
#u314_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:47px;
  background:inherit;
  background-color:rgba(163, 1, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u314.selected {
}
#u314_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  word-wrap:break-word;
}
#u315_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u315 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:74px;
  width:120px;
  height:47px;
}
#u315_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:47px;
  background:inherit;
  background-color:rgba(163, 1, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u315.selected {
}
#u315_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  word-wrap:break-word;
}
#u316_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u316 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:74px;
  width:120px;
  height:47px;
}
#u316_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:47px;
  background:inherit;
  background-color:rgba(163, 1, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u316.selected {
}
#u316_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  word-wrap:break-word;
}
#u317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:34px;
}
#u317 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:82px;
  width:1px;
  height:33px;
}
#u317_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u318_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:34px;
}
#u318 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:82px;
  width:1px;
  height:33px;
}
#u318_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u319 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:131px;
  width:292px;
  height:463px;
  overflow:hidden;
}
#u319_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:463px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u319_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u320_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:128px;
}
#u320 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:128px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u320_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:288px;
  word-wrap:break-word;
}
#u321_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:128px;
}
#u321 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:138px;
  width:292px;
  height:128px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u321_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:288px;
  word-wrap:break-word;
}
#u322_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:128px;
}
#u322 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:276px;
  width:292px;
  height:128px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u322_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:288px;
  word-wrap:break-word;
}
#u323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:128px;
}
#u323 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:414px;
  width:292px;
  height:128px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u323_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:288px;
  word-wrap:break-word;
}
#u319_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:463px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u319_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u324_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:128px;
}
#u324 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:128px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u324_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:288px;
  word-wrap:break-word;
}
#u325_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:128px;
}
#u325 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:138px;
  width:292px;
  height:128px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u325_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:288px;
  word-wrap:break-word;
}
#u326_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:128px;
}
#u326 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:276px;
  width:292px;
  height:128px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u326_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:288px;
  word-wrap:break-word;
}
#u327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:128px;
}
#u327 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:414px;
  width:292px;
  height:128px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u327_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:288px;
  word-wrap:break-word;
}
#u319_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:463px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u319_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:128px;
}
#u328 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:128px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u328_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:288px;
  word-wrap:break-word;
}
#u329 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:22px;
  width:43px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
