body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-100px;
  width:876px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:876px;
  height:760px;
}
#u1805 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:876px;
  height:760px;
}
#u1805_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:874px;
  height:616px;
}
#u1806 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:757px;
  width:874px;
  height:616px;
}
#u1806_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:874px;
  height:758px;
}
#u1807 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1372px;
  width:874px;
  height:758px;
}
#u1807_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:874px;
  height:789px;
}
#u1808 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:2129px;
  width:874px;
  height:789px;
}
#u1808_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1809 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:2918px;
  width:100px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
