body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-100px;
  width:876px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:876px;
  height:760px;
}
#u1385 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:876px;
  height:760px;
}
#u1385_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:874px;
  height:616px;
}
#u1386 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:757px;
  width:874px;
  height:616px;
}
#u1386_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:874px;
  height:758px;
}
#u1387 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1372px;
  width:874px;
  height:758px;
}
#u1387_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:874px;
  height:789px;
}
#u1388 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:2129px;
  width:874px;
  height:789px;
}
#u1388_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1389 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:2918px;
  width:100px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
